[core]
	editor = vim
	excludesFile = ~/.gitignore_global
	hooksPath = ~/.git-hooks
[includeIf "gitdir:~/.dotfiles/.git"]
	path = .gitconfig-github
[includeIf "gitdir:~/github/**"]
	path = .gitconfig-github
[includeIf "gitdir:~/company/xmly/**"]
	path = .gitconfig-xmly
[includeIf "gitdir:~/company/anxin/**"]
  path = .gitconfig-anxin
